.nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #0077b6;
        width: 100%;
        margin-bottom: 30px;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #03045e;
    }

    .active {
        background-color: #03045e;
    }

    .badge{
        color: #03045e;
        background: #fff;
        border-radius: 50%;
    }
}

.main {
    padding: 30px 20px;
}